<section class="container">
  <app-header (onSearch)="onSearch($event)"></app-header>
  <app-pagination-section
    [isNextDisable]="isNextDisable"
    [isPrevDisable]="isPrevDisable"
    (prevEmitter)="prevPage()"
    (nextEmitter)="nextPage()"
  ></app-pagination-section>
  <div class="columns is-justify-content-space-between is-flex-wrap-wrap">
    <app-cards
      class="column"
      *ngFor="let item of page?.results"
      [cardUrl]="
        'https://projectpokemon.org/images/normal-sprite/' + item.name + '.gif'
      "
    ></app-cards>
  </div>
  <app-pagination-section
    [isNextDisable]="isNextDisable"
    [isPrevDisable]="isPrevDisable"
    (prevEmitter)="prevPage()"
    (nextEmitter)="nextPage()"
  ></app-pagination-section>
</section>
